@import "tailwindcss";

@theme {
  --color-primary-50: #f7fee7;
  --color-primary-100: #ecfccb;
  --color-primary-200: #d9f99d;
  --color-primary-300: #bef264;
  --color-primary-400: #a3e635;
  --color-primary-500: #84cc16;
  --color-primary-600: #65a30d;
  --color-primary-700: #4d7c0f;
  --color-primary-800: #365314;
  --color-primary-900: #1a2e05;
  --color-primary-950: #0f1a02;
  
  --color-indigo-50: #f7fee7;
  --color-indigo-100: #ecfccb;
  --color-indigo-200: #d9f99d;
  --color-indigo-300: #bef264;
  --color-indigo-400: #a3e635;
  --color-indigo-500: #84cc16;
  --color-indigo-600: #65a30d;
  --color-indigo-700: #4d7c0f;
  --color-indigo-800: #365314;
  --color-indigo-900: #1a2e05;
  --color-indigo-950: #0f1a02;
}